h1{
    position: absolute;
    width: 156px;
    height: 29px;
    left: 20px;
    top: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #D76A29;

    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.navBg{
    position: absolute;
    width: 100vw;
    height: 46px;
    left: 0px;
    top: 57px;

    background: #ACD4E2;

}

.logo{
    position: absolute;
    width: 64px;
    height: 32px;
    left: 20px;
    top: 7px;
 
}

.navButtons{
    position: absolute;
    left: 150px;
}

.button{
    position: relative;
    height: 27px;
    padding-right: 30px;
    top: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;

    color: #D76A29;
}

#openMenu{
    display: none;

}

#menu{
    display: none;

}


.indexImg{
    position: absolute;
    width: 100vw;
    top: 103px;

}