@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

body{
    font-family: Montserrat;
    margin: 0px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

.navButtons{
    position: absolute;
    left: 165px;
}

.button{
    position: relative;
    height: 27px;
    padding-right: 30px;
    top: 17px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;

    color: #D76A29;
}

#openMenu{
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 7px;
}

.activeMenu{
    display: none;

}



.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ACD4E2; 
    color: #D76A29;
    text-align: center;
    
}

.footer{
    
    padding-top: 8px;
    padding-bottom: 3px;
}
  .social{
    height: 25px;
    padding-right: 8px;
    padding-left: 8px;
}

