h1{
    position: absolute;
    width: 208px;
    height: 37px;
    left: 40px;
    top: 13px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    
    color: #D76A29; 
}

h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
    
}

.navBg{
    position: absolute;
    width: 100vw;
    height: 51px;
    left: 0px;
    top: 58px;

    background: #ACD4E2;

}

.logo{
    position: absolute;
    width: 64px;
    height: 32px;
    left: 40px;
    top: 9px;
    
 
}

.navButtons{
    position: absolute;
    left: 147px;
}

.button{
    position: relative;
    height: 22px;
    padding-right: 30px;
    top: 14px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #D76A29;
    
}

#openMenu{
    display: none;

}

#menu{
    display: none;

}

/* slide show */

#slideshow{
    position: absolute;
    width: 100vw;
    left: 0px;

}

.slide{
    margin-top: 98px;
    max-width: 100%;
}

/* end slide show */

/*sort.html*/

.breedImg{
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 107px;

    background: url(breeds.jpg);
}

.textBoxBr{
    position: absolute;
    width: 920px;
    height: 600px;
    left: 40px;
    top: 339px;
}


.extLink{
    text-decoration: none;
    font-size: 16px;

    color: #D76A29;
}

/*end sort.html*/

/* diet.html + care.html */

.dietImg{
    position: absolute;
    width: 460px;
    height: 335px;
    left: 282px;
    top: 385px;
    
    background: url(diet.jpg);
}

.textBoxDiR{
    position: absolute;
    width: 302px;
    height: 262px;
    left: 41px;
    top: 123px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.textBoxDiM{
    position: absolute;
    width: 302px;
    height: 262px;
    left: 361px;
    top: 123px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.textBoxDiL{
    position: absolute;
    width: 302px;
    height: 262px;
    left: 681px;
    top: 123px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.textDiR{
    position: absolute;
    width: 266px;
    height: 201px;
    left: 18px;
    top: 31px;

}

.textDiM{
    position: absolute;
    width: 266px;
    height: 178px;
    left: 18px;
    top: 31px;
}

.textDiL{
    position: absolute;
    width: 266px;
    height: 199px;
    left: 18px;
    top: 31px;

}

.bathImg{
    position: absolute;
    width: 1024px;
    height: 683px;
    left: 0px;
    top: 59px;
    
    background: url(bath.jpg);
}

.textSmallDi{
    display: none;
}

/* end diet.html + care.html */

/* about.html */

.textBoxAb{
    position: absolute;
    width: 942px;
    height: 231px;
    left: 41px;
    top: 126px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.textAb{
    position: absolute;
    width: 818px;
    height: 174px;
    left: 31px;
    top: 62px;

}

.aboutImg{
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 79.92px;

}

/* end about.html */

/*contact.html*/
.textBoxCo{

    position: absolute;
    width: 920px;
    height: 162px;
    left: 59px;
    top: 157px;
    text-align: center;

color: #000000;

}

.contactImg{
    position: absolute;
    width: 636px;
    height: 435px;
    left: 194px;
    top: 343px;
    
    background: url(contact.jpg);
}

/* end contact.html */

